.cor{
    color: #84A59D;
}

.conteudo {
    display: flex;
}

ul.social-networks li{
    display: inline;
    margin: 0;
    padding: 5px;
   

}


ul.social-networks{
    list-style: none;
       padding: 0;
}

.fa{
    font-size: 15pt;
    color: black;
    padding:5px;
    
    }

.fa-facebook-square:hover{
color:#3b5998;

}

.fa-instagram:hover{
    color:#C13584;
    }

.fa-twitter-square:hover{
    color:#143c91;
    }
    

 .fa-heart-o{
    color: darkred;
 }

 .tamanho{
    font-size: 10px;
}

.altera-fontes {
    font-style: normal; /*caso queira deixar alterar o estilo da fonte*/
    font-size: 0.95rem; /*caso queira alterar o tamanho da fonte*/
    font-family: Roboto, sans-serif; /*caso queira mudar o tipo de fonte*/
 
 }