<!--CardsProdutos-->
<div class="container-fluid pt-5 pb-5" style="background-color: #F7EDE2">
    <div class="card pt-4 pb-4 m-4 ">

        <div class="row">
            <div class=" col-sm-6 pl-5 cor d-flex justify-content-start">
                <h1> Meus Produtos</h1>
            </div>
            <div class=" col-sm-6 pr-5 d-flex justify-content-end">
                <a href="#" class="btn btn-primary">Adicionar produtos</a>
            </div>

        </div>
        <div class="card mr-4 ml-4 ">
            <div class=" card-group text-center">
                <div class="card ">
                    <img class="card-img-top" src=".../100px180/" alt="Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title">Título do card</h5>
                        <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma
                            introdução a um conteúdo adicional. Este conteúdo é um pouco maior, para demonstração.</p>
                        <a href="#" class="btn btn-primary">Remover produto</a>
                    </div>

                </div>
                <div class="card">
                    <img class="card-img-top" src=".../100px180/" alt="Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title">Título do card</h5>
                        <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma
                            introdução a um conteúdo adicional. Este conteúdo é um pouco maior, para demonstração.</p>
                        <a href="#" class="btn btn-primary ">Remover produto</a>
                    </div>

                </div>
                <div class="card">
                    <img class="card-img-top" src=".../100px180/" alt="Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title">Título do card</h5>
                        <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma
                            introdução a um conteúdo adicional. Este conteúdo é um pouco maior, para demonstração.</p>
                        <a href="#" class="btn btn-primary">Remover produto</a>
                    </div>

                </div>
                <div class="card-group">
                    <div class="card">
                        <img class="card-img-top" src=".../100px180/" alt="Imagem de capa do card">
                        <div class="card-body">
                            <h5 class="card-title">Título do card</h5>
                            <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma
                                introdução a um conteúdo adicional. Este conteúdo é um pouco maior, para demonstração.
                            </p>
                            <a href="#" class="btn btn-primary">Remover produto</a>

                        </div>

                    </div>
                    <div class="card">
                        <img class="card-img-top" src=".../100px180/" alt="Imagem de capa do card">
                        <div class="card-body">
                            <h5 class="card-title">Título do card</h5>
                            <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma
                                introdução a um conteúdo adicional. Este conteúdo é um pouco maior, para demonstração.
                            </p>
                            <a href="#" class="btn btn-primary">Remover produto</a>
                        </div>

                    </div>
                    <div class="card">
                        <img class="card-img-top" src=".../100px180/" alt="Imagem de capa do card">
                        <div class="card-body">
                            <h5 class="card-title">Título do card</h5>
                            <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma
                                introdução a um conteúdo adicional. Este conteúdo é um pouco maior, para demonstração.
                            </p>
                            <a href="#" class="btn btn-primary">Remover produto</a>
                        </div>

                    </div>
                    <div class="card-group">
                        <div class="card">
                            <img class="card-img-top" src=".../100px180/" alt="Imagem de capa do card">
                            <div class="card-body">
                                <h5 class="card-title">Título do card</h5>
                                <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como
                                    uma
                                    introdução a um conteúdo adicional. Este conteúdo é um pouco maior, para
                                    demonstração.</p>
                                <a href="#" class="btn btn-primary">Remover produto</a>
                            </div>

                        </div>
                        <div class="card">
                            <img class="card-img-top" src=".../100px180/" alt="Imagem de capa do card">
                            <div class="card-body">
                                <h5 class="card-title">Título do card</h5>
                                <p class="card-text">Este é um card com suporte a texto embaixo, que funciona como uma
                                    introdução a um conteúdo adicional. Este conteúdo é um pouco maior, para
                                    demonstração.</p>
                                <a href="#" class="btn btn-primary">Remover produto</a>
                            </div>

                        </div>
                        <div class="card">
                            <img class="card-img-top" src=".../100px180/" alt="Imagem de capa do card">
                            <div class="card-body">
                                <h5 class="card-title">Título do card</h5>
                                <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como
                                    uma
                                    introdução a um conteúdo adicional. Este conteúdo é um pouco maior, para
                                    demonstração.</p>
                                <a href="#" class="btn btn-primary">Remover produto</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!--botãoPagina-->

        <div class="row">
            <div class=" col-sm-4 mt-3 d-flex justify-content-center">
                <a href="#" class="btn btn-primary">Página anterior </a>
            </div>
            <div class=" col-sm-7 mt-3 d-flex justify-content-end">
                <a href="#" class="btn btn-primary">Próxima página</a>
            </div>

        </div>
        <!--/botãoPagina v-->
    </div>
</div>
<!--/CardProdutos-->