<!-- Botão para acionar o pop up de produto-->
<div class="d-flex justify-content-end">
    <button  class="btn btn-floating " data-toggle="modal"      data-target="#ExemploModalCentralizado">
        <i class="fa fa-user-o" aria-hidden="true"></i>
    </button>
</div>
   <!-- /Botão para acionar pop up de produto-->

   <!-- Modal Pop-Up -->
   <div class="modal fade" id="ExemploModalCentralizado"> 
            <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body" >
                            <div>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
              <!--fechamento X--> <span aria-hidden="true">&times;</span> <!--/fechamento X-->
                                </button>
                            </div>
                
             
    
    <!--card Pop-Up-->
                    <body class="estiloDoPopUp">
                        <div class="containerPopUp">
                            <div class="pt-0" >
                              <h1>Venda confirmada!</h1>
                              <h2>Combine com o vendedor a sua entrega!</h2>
        
        <!--facebook-->
              <div>
                <img class="ico-contato " src="https://i.imgur.com/t3zXvGm.png" alt="Icone Facebook">
                <a class="textIco" href="https://www.facebook.com/" target="_blank">facebook.com/NaturebaCosmeticos</a>
              </div>
        <!--/facebook-->      
        
        <!--telefone-->      
              <div>
                <img class="ico-contato" src="https://i.imgur.com/RVVuzZa.png" alt="Icone Telefone">
                <a class="textIco" href="https://api.whatsapp.com/send?phone=5511910616756&text=Olá, gostaria de conhecer um pouco mais!" target="_blank">(11)96235-6969</a>
              </div>
        <!--/telefone-->
        
        <!--e-mail-->
              <div>
                <img class="ico-contato" src="https://i.imgur.com/JrO4uoS.png" alt="Icone E-mail">
                <a class="textIco" href="https://www.google.com" target="_blank">NaturebaCosmeticos@gmail.com</a>
              </div>
        <!--/e-mail-->

        <!--Botão de Entrar-->
        <div class="justify-center">
            <button class="bt-retornar">Retornar</button>
        </div>
<!--/Botão de Entrar-->
                          
                              </div>
                          </div>
                    </body>
        <!--/card Pop-Up-->

