<!--cards nosso time--> 

<!--card1-->
<div class="container-fluid" style="background-color:#F7EDE2;">
    <div class="row">
        <div class="col-sm-5">
            <div class="card borda mb-2">
                <div class="card-body">
<!--Nome do Integrante-->
                    <h5 class="card-title center">Vitor Carvalho</h5>
<!--/Nome do Integrante-->

<!--Imagem 3d dos integrantes-->
                    <div class="flip-container">
                        <div class="flipper imgpos">
                            <div class="front imagem">
                                <img class="container card-img-top br-50 p-30 " src="https://i.imgur.com/wtK8H1S.jpg"
                                    alt="Imagem do integrante Vitor descreve-lo">
                            </div>
                            <div class="back imagem">
                                <img class=" container card-img-top br-50 p-30  " src="https://i.imgur.com/O4a60xH.jpg"
                                    alt="Imagem do integrante Vitor descreve-lo">
                                </div>
                            </div>
                        </div>
<!--/Imagem 3d dos integrantes--> 

<!--Icones Social Network-->
                    <footer>
                        <div class="container">
                            <ul class="ul-social-network">
                                <li>
                                    <a href="https://www.linkedin.com/in/vcolvr/" target="_blank"
                                        class="icoLinkedin">
                                        <i class="tm-fa fa fa-linkedin tm-icones" aria-hidden="true"></i>
                                    </a>
    
                                    <a href="https://github.com/Vcolvr" target="_blank" class="icoGitHub">
                                        <i class="tm-fa fa fa-github-alt tm-icones" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </footer>
<!--/Icones Social Network-->
    
<!--Textos dos Integrntes-->
                    <hr>
                    <p class="card-text borda infoTexto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio corrupti culpa dolor, totam laborum blanditiis et. Magni, cupiditate sapiente ratione, a corrupti alias, blanditiis esse impedit quia praesentium in repudiandae?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed voluptate similique qui ad neque dignissimos cum. Doloribus libero odio praesentium, non laborum numquam perferendis similique quos dicta iusto maxime vel?
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil facilis eius nam dolores explicabo exercitationem alias quisquam! Nemo delectus magnam natus a quas rem ipsa consequatur culpa, porro fuga doloribus.
                    </p>
                    <b class="borda txtCor" href="#" >Curiosidades:</b>
                    <p class="card-text borda infoTexto1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae debitis harum, totam, asperiores eligendi illum deleniti laboriosam voluptate officiis earum eveniet illo odio? Ab repudiandae sunt molestias atque unde impedit?</p>
                 </div>
            </div>
        </div>
<!--/Textos dos Integrntes-->
<!--/card1-->
    
<!--card2-->
        <div class="col-sm-5 ">
            <div class="card borda">
                <div class="card-body">
<!--Nome do Inerante-->
                    <h5 class="card-title center">Vitor Carvalho</h5>
<!--/Nome do Inerante-->

<!--Imagem 3d dos integrantes-->
                    <div class="flip-container">
                        <div class="flipper imgpos">
                            <div class="front imagem">
                                <img class="container card-img-top br-50 p-30 " src="https://i.imgur.com/wtK8H1S.jpg"
                                    alt="Imagem do integrante Vitor descreve-lo">
                            </div>
                            <div class="back imagem">
                                <img class=" container card-img-top br-50 p-30  " src="https://i.imgur.com/O4a60xH.jpg"
                                    alt="Imagem do integrante Vitor descreve-lo">
                                </div>
                            </div>
                        </div>
<!--/Imagem 3d dos integrantes--> 

<!--Icones Social Network-->
                    <footer>
                        <div class="container">
                            <ul class="ul-social-network">
                                <li>
                                    <a href="https://www.linkedin.com/in/vcolvr/" target="_blank"
                                        class="icoLinkedin">
                                        <i class="tm-fa fa fa-linkedin tm-icones" aria-hidden="true"></i>
                                    </a>
    
                                    <a href="https://github.com/Vcolvr" target="_blank" class="icoGitHub">
                                        <i class="tm-fa fa fa-github-alt tm-icones" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </footer>
<!--/Icones Social Network-->
    
<!--Textos dos Integrantes-->
                    <hr>
                    <p class="card-text borda infoTexto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio corrupti culpa dolor, totam laborum blanditiis et. Magni, cupiditate sapiente ratione, a corrupti alias, blanditiis esse impedit quia praesentium in repudiandae?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed voluptate similique qui ad neque dignissimos cum. Doloribus libero odio praesentium, non laborum numquam perferendis similique quos dicta iusto maxime vel?
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil facilis eius nam dolores explicabo exercitationem alias quisquam! Nemo delectus magnam natus a quas rem ipsa consequatur culpa, porro fuga doloribus.
                    </p>
                    <b class="borda txtCor" href="#" >Curiosidades:</b>
                    <p class="card-text borda infoTexto1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae debitis harum, totam, asperiores eligendi illum deleniti laboriosam voluptate officiis earum eveniet illo odio? Ab repudiandae sunt molestias atque unde impedit?</p>
                 </div>
            </div>
        </div>
<!--/Textos dos Integrantes-->
<!--/card2-->

<!--card3-->
<div class="col-sm-5 " >
    <div class="card borda">
        <div class="card-body">
<!--Nome do Inerante-->
            <h5 class="card-title center">Vitor Carvalho</h5>
<!--/Nome do Inerante-->

<!--Imagem 3d dos integrantes-->
            <div class="flip-container">
                <div class="flipper imgpos">
                    <div class="front imagem">
                        <img class="container card-img-top br-50 p-30 " src="https://i.imgur.com/wtK8H1S.jpg"
                            alt="Imagem do integrante Vitor descreve-lo">
                    </div>
                    <div class="back imagem">
                        <img class=" container card-img-top br-50 p-30  " src="https://i.imgur.com/O4a60xH.jpg"
                            alt="Imagem do integrante Vitor descreve-lo">
                        </div>
                    </div>
                </div>
<!--/Imagem 3d dos integrantes--> 

<!--Icones Social Network-->
            <footer>
                <div class="container">
                    <ul class="ul-social-network">
                        <li>
                            <a href="https://www.linkedin.com/in/vcolvr/" target="_blank"
                                class="icoLinkedin">
                                <i class="tm-fa fa fa-linkedin tm-icones" aria-hidden="true"></i>
                            </a>

                            <a href="https://github.com/Vcolvr" target="_blank" class="icoGitHub">
                                <i class="tm-fa fa fa-github-alt tm-icones" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </footer>
<!--/Icones Social Network-->

<!--Textos dos Integrantes-->
            <hr>
            <p class="card-text borda infoTexto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio corrupti culpa dolor, totam laborum blanditiis et. Magni, cupiditate sapiente ratione, a corrupti alias, blanditiis esse impedit quia praesentium in repudiandae?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed voluptate similique qui ad neque dignissimos cum. Doloribus libero odio praesentium, non laborum numquam perferendis similique quos dicta iusto maxime vel?
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil facilis eius nam dolores explicabo exercitationem alias quisquam! Nemo delectus magnam natus a quas rem ipsa consequatur culpa, porro fuga doloribus.
            </p>
            <b class="borda txtCor" href="#" >Curiosidades:</b>
            <p class="card-text borda infoTexto1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae debitis harum, totam, asperiores eligendi illum deleniti laboriosam voluptate officiis earum eveniet illo odio? Ab repudiandae sunt molestias atque unde impedit?</p>
         </div>
    </div>
</div>
<!--/Textos dos Integrantes-->
<!--/card3-->
    
<!--card4-->
<div class="col-sm-5 ">
    <div class="card borda">
        <div class="card-body">
<!--Nome do Inerante-->
            <h5 class="card-title center">Vitor Carvalho</h5>
<!--/Nome do Inerante-->

<!--Imagem 3d dos integrantes-->
            <div class="flip-container">
                <div class="flipper imgpos">
                    <div class="front imagem">
                        <img class="container card-img-top br-50 p-30 " src="https://i.imgur.com/wtK8H1S.jpg"
                            alt="Imagem do integrante Vitor descreve-lo">
                    </div>
                    <div class="back imagem">
                        <img class=" container card-img-top br-50 p-30  " src="https://i.imgur.com/O4a60xH.jpg"
                            alt="Imagem do integrante Vitor descreve-lo">
                        </div>
                    </div>
                </div>
<!--/Imagem 3d dos integrantes--> 

<!--Icones Social Network-->
            <footer>
                <div class="container">
                    <ul class="ul-social-network">
                        <li>
                            <a href="https://www.linkedin.com/in/vcolvr/" target="_blank"
                                class="icoLinkedin">
                                <i class="tm-fa fa fa-linkedin tm-icones" aria-hidden="true"></i>
                            </a>

                            <a href="https://github.com/Vcolvr" target="_blank" class="icoGitHub">
                                <i class="tm-fa fa fa-github-alt tm-icones" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </footer>
<!--/Icones Social Network-->

<!--Textos dos Integrantes-->
            <hr>
            <p class="card-text borda infoTexto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio corrupti culpa dolor, totam laborum blanditiis et. Magni, cupiditate sapiente ratione, a corrupti alias, blanditiis esse impedit quia praesentium in repudiandae?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed voluptate similique qui ad neque dignissimos cum. Doloribus libero odio praesentium, non laborum numquam perferendis similique quos dicta iusto maxime vel?
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil facilis eius nam dolores explicabo exercitationem alias quisquam! Nemo delectus magnam natus a quas rem ipsa consequatur culpa, porro fuga doloribus.
            </p>
            <b class="borda txtCor" href="#" >Curiosidades:</b>
            <p class="card-text borda infoTexto1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae debitis harum, totam, asperiores eligendi illum deleniti laboriosam voluptate officiis earum eveniet illo odio? Ab repudiandae sunt molestias atque unde impedit?</p>
         </div>
    </div>
</div>
<!--/Textos dos Integrantes-->
<!--/card4-->

<!--/card5-->
<div class="col-sm-5 ">
    <div class="card borda">
        <div class="card-body">
<!--Nome do Inerante-->
            <h5 class="card-title center">Vitor Carvalho</h5>
<!--/Nome do Inerante-->

<!--Imagem 3d dos integrantes-->
            <div class="flip-container">
                <div class="flipper imgpos">
                    <div class="front imagem">
                        <img class="container card-img-top br-50 p-30 " src="https://i.imgur.com/wtK8H1S.jpg"
                            alt="Imagem do integrante Vitor descreve-lo">
                    </div>
                    <div class="back imagem">
                        <img class=" container card-img-top br-50 p-30  " src="https://i.imgur.com/O4a60xH.jpg"
                            alt="Imagem do integrante Vitor descreve-lo">
                        </div>
                    </div>
                </div>
<!--/Imagem 3d dos integrantes--> 

<!--Icones Social Network-->
            <footer>
                <div class="container">
                    <ul class="ul-social-network">
                        <li>
                            <a href="https://www.linkedin.com/in/vcolvr/" target="_blank"
                                class="icoLinkedin">
                                <i class="tm-fa fa fa-linkedin tm-icones" aria-hidden="true"></i>
                            </a>

                            <a href="https://github.com/Vcolvr" target="_blank" class="icoGitHub">
                                <i class="tm-fa fa fa-github-alt tm-icones" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </footer>
<!--/Icones Social Network-->

<!--Textos dos Integrantes-->
            <hr>
            <p class="card-text borda infoTexto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio corrupti culpa dolor, totam laborum blanditiis et. Magni, cupiditate sapiente ratione, a corrupti alias, blanditiis esse impedit quia praesentium in repudiandae?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed voluptate similique qui ad neque dignissimos cum. Doloribus libero odio praesentium, non laborum numquam perferendis similique quos dicta iusto maxime vel?
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil facilis eius nam dolores explicabo exercitationem alias quisquam! Nemo delectus magnam natus a quas rem ipsa consequatur culpa, porro fuga doloribus.
            </p>
            <b class="borda txtCor" href="#" >Curiosidades:</b>
            <p class="card-text borda infoTexto1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae debitis harum, totam, asperiores eligendi illum deleniti laboriosam voluptate officiis earum eveniet illo odio? Ab repudiandae sunt molestias atque unde impedit?</p>
         </div>
    </div>
</div>
<!--/Textos dos Integrantes-->
<!--/card5-->
    
<!--card6-->
<div class="col-sm-5">
    <div class="card borda">
        <div class="card-body">
<!--Nome do Inerante-->
            <h5 class="card-title center">Vitor Carvalho</h5>
<!--/Nome do Inerante-->

<!--Imagem 3d dos integrantes-->
            <div class="flip-container">
                <div class="flipper imgpos">
                    <div class="front imagem">
                        <img class="container card-img-top br-50 p-30 " src="https://i.imgur.com/wtK8H1S.jpg"
                            alt="Imagem do integrante Vitor descreve-lo">
                    </div>
                    <div class="back imagem">
                        <img class=" container card-img-top br-50 p-30  " src="https://i.imgur.com/O4a60xH.jpg"
                            alt="Imagem do integrante Vitor descreve-lo">
                        </div>
                    </div>
                </div>
<!--/Imagem 3d dos integrantes--> 

<!--Icones Social Network-->
            <footer>
                <div class="container">
                    <ul class="ul-social-network">
                        <li>
                            <a href="https://www.linkedin.com/in/vcolvr/" target="_blank"
                                class="icoLinkedin">
                                <i class="tm-fa fa fa-linkedin tm-icones" aria-hidden="true"></i>
                            </a>

                            <a href="https://github.com/Vcolvr" target="_blank" class="icoGitHub">
                                <i class="tm-fa fa fa-github-alt tm-icones" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </footer>
<!--/Icones Social Network-->

<!--Textos dos Integrantes-->
            <hr>
            <p class="card-text borda infoTexto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio corrupti culpa dolor, totam laborum blanditiis et. Magni, cupiditate sapiente ratione, a corrupti alias, blanditiis esse impedit quia praesentium in repudiandae?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed voluptate similique qui ad neque dignissimos cum. Doloribus libero odio praesentium, non laborum numquam perferendis similique quos dicta iusto maxime vel?
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil facilis eius nam dolores explicabo exercitationem alias quisquam! Nemo delectus magnam natus a quas rem ipsa consequatur culpa, porro fuga doloribus.
            </p>
            <b class="borda txtCor" href="#" >Curiosidades:</b>
            <p class="card-text borda infoTexto1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae debitis harum, totam, asperiores eligendi illum deleniti laboriosam voluptate officiis earum eveniet illo odio? Ab repudiandae sunt molestias atque unde impedit?</p>
         </div>
    </div>
</div>
<!--/Textos dos Integrantes-->
<!--/card6-->
</div>