<p>pop-up-login works!</p>
<!-- Botão para acionar o pop up de Login-->
<div class="d-flex justify-content-end">
    <button  class="btn btn-floating " data-toggle="modal"      data-target="#ExemploModalCentralizado">
        <i class="fa fa-user-o" aria-hidden="true"></i>
    </button>
</div>
   <!-- /Botão para acionar pop up de Login-->

   <!-- Modal Pop-Up -->
   <div class="modal fade" id="ExemploModalCentralizado">
            <div class="modal-dialog">
             <div class="modal-content">
          <div>
              <div>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
<!--fechamento X--> <span aria-hidden="true">&times;</span> <!--/fechamento X-->
                  </button>
              </div>
    
    <!--card Pop-Up-->
                    <body>
                        <div class="container">
                            <div class="pt-0" >
                              <h1>Já tem uma conta?</h1>

                    <!--Campo preenchimento usuário já cadastrado-->
                              <div class="label-float">
                                  <input type="text" id="email" placeholder="">
                                  <label for="email">E-mail</label>
                              </div>

                              <div class="label-float">
                                <input type="text" id="senha" placeholder="">
                                <label for="senha">Senha</label>
                            </div>
                    <!--Campo preenchimento usuário já cadastrado-->

                    <!--Campo esqueceu senha -->
                            <a class="textEsqueceu" href="">Esqueceu sua senha?</a>
                    <!--/Campo esqueceu senha -->
                           
                    <!--Botão de Entrar-->
                            <div class="justify-center">
                                <button class="bt-entrar">Seja bem-vinde</button>
                            </div>
                    <!--/Botão de Entrar-->
                    <div class="justify-center">
                        <hr>
                    </div>

                    <h1>Ainda não tem uma conta?</h1>
                    
                    <!--Botão de Cadastrar-->
                    <div class="justify-center">
                        <button class="bt-entrar">Venha para nossa Ecovila</button>
                    </div>
                    <!--Botão de Cadastrar-->
                          
                              </div>
                          </div>
                    </body>
        <!--/card Pop-Up-->