.cor-card{
    background-color: #F6BD60;

 }
 .btn-primary{
background-color: #F28482;
border-color: #F28482;
color: #FFFFFF;
height: 42px;
width: 230px;
left: 752px;
top: 886px;
border-radius: 0px;
font-weight: bold;
 }
