/* topo das paginas*/

ul.social-networks li{
    display: inline;
    margin: 0;
    padding: 5px;
    

}


ul.social-networks{
    list-style: none;
       padding: 0;
       
}

.fa{
    font-size: 15pt;
    color: black;
    padding:5px;
    }

.fa-facebook-square:hover{
color:#3b5998;

}

.fa-instagram:hover{
    color:#C13584;
    }

.fa-twitter-square:hover{
    color:#143c91;
    }
    

 .fa-heart-o:hover{
    color: darkred;
 }

.altera-menu {
    font-style: normal; /*caso queira deixar alterar o estilo da fonte*/
    font-size: 17px; /*caso queira alterar o tamanho da fonte*/
    font-family: sans-serif; /*caso queira mudar o tipo de fonte*/
    
    
 }

 .cor{
    color: #84A59D;
}



.card-body{
   background-color: white;
}

.meiocard{
    background-color:#F6BD60;
}

.ladocard{
    background-color:#F7EDE2;
}

/* caixa de pesquisa */
#busca{
    display: inline;
    border:0;
    border-bottom: 2px solid #84A59D;
    background-color: transparent;
}

#txtBusca{
  
   
    padding-left: 5px;
    font-style: italic;
    font-size: 18px;
    border: 0;
    height: 32px;
    width: 260px;
    font-family: 'Roboto', sans-serif;
   
}
.fa-search{
    color: #84A59D;
}

/* caixa de pesquisa */


/*
espaçamento do primerio menu
*/
.espaco{
    padding-inline-end: 158px;
    padding-inline-start: 20px;
}

/*
/espaçamento do primerio menu
*/

/* /topo das paginas*/

.margem-card{
   
    margin-bottom: 30px;
}



