


    <div class="container-fluid mt-5 mb-5">

        <div class="row bg-light ml-5 mr-5">



            <div class="row d-flex justify-content-center align-items-center mr-4">

                <div class="col-md-5 ">

                    <img src="https://i.imgur.com/opc3o7J.png" alt="Imagem da floresta" width="586px" height="586px">



                </div>

                <div class="col-md-5 esp-1 ">
                    <h2 class="">Como funciona</h2>


                    <p class=" config mt-5 mb-5">Aqui, na Natureba Cosméticos, somos feitos por vocês e para vocês.


                        Se você veio aqui procurando algum produto, você pode ter certeza que aqui é um canal seguro
                        onde diversos fornecedores de produtos naturais e sustentáveis vem para comprar e vender suas
                        mercadorias. Criando rapidamente um login, você pode filtrar sua busca por categorias ou pelo
                        nome do produto. Ainda, se conhecer exatamente quem vende, pode procurar o nome de usuário desta
                        pessoa! Clicando em qualquer um dos produtos você pode ver a sua descrição, suas fotos e seu
                        preço, assim como favoritar os seus queridinhos e confirmar que quer se contatar com este
                        produtor. Fazendo isso, além de virar um consumidor muito mais Natureba, você ainda ganha uma
                        árvore linda plantada por nós, contabilizada no seu perfil.


                        Agora, se você veio aqui para vender, você pode continuar usando a mesma conta que como
                        comprador. Clicando no icone acima da caixa de busca ou no menu em vendas, você pode ver todos
                        os seus produtos e/ou cadastrar um novo! Aproveite e crie um produto bem chamativo com fotos
                        bonitas e uma descrição do processo de criação do seu produto, além dos seus benefícios. Os
                        nossos usuários vão amar e você logo se tornará um grande influencer Natureba!


                        Chega de perder tempo e vá aproveitar logo nosso site! Compre, anuncie e venda para quem pensa
                        como você e transforme o mundo num lugar mais limpo e seguro.</p>

                </div>



            </div>


        </div>



    </div>
